/* *{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: brown; 
}

.main{
    display: flex;
    flex-direction: column;
}

.main-body{
    height: 100%;
    width: 100%;
    background-color: brown;
    display: flex;
}

.left{
    height:100%;
    width: 100%;
    background-color: green;
    
}

.infotable{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: aqua;
}

.right{
    height:auto;
    width: 100%;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */